<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>Archetype Created Web Application</javaee:display-name>
  <welcome-file-list>
    <welcome-file>Spiele</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <javaee:display-name>Stripes Filter</javaee:display-name>
    <filter-name>StripesFilter</filter-name>
    <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
    <init-param>
      <javaee:param-name>ActionResolver.Packages</javaee:param-name>
      <javaee:param-value>org.oregami.action</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>LocalePicker.Locales</javaee:param-name>
      <javaee:param-value>de,en</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>Extension.Packages</javaee:param-name>
      <javaee:param-value>org.oregami.stripes.ext</javaee:param-value>
    </init-param>
  </filter>
  <filter>
    <javaee:description>Dynamically maps URLs to ActionBeans.</javaee:description>
    <javaee:display-name>Stripes Dynamic Mapping Filter</javaee:display-name>
    <filter-name>DynamicMappingFilter</filter-name>
    <filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DynamicMappingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>StripesDispatcher</servlet-name>
    <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StripesDispatcher</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <context-param>
    <javaee:param-name>javax.servlet.jsp.jstl.fmt.localizationContext</javaee:param-name>
    <javaee:param-value>StripesResources</javaee:param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Oregami demo application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>demo-user-role</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Oregami demo application</realm-name>
  </login-config>
  <security-role>
    <javaee:description>The role that is required to access the demo pages</javaee:description>
    <javaee:role-name>demo-user-role</javaee:role-name>
  </security-role>
</web-app>